a,a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;

}
/* *{
  padding: 0;
  margin: 0;
} */
body{
  /* background-image: url(../src/assets/Images/year7_main_banner.jpg); */
  /* background-color: #0c5ab4; */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-size: cover;
  font-family:Georgia, 'Times New Roman', Times, serif
}
