<!-- <div class="img">
  <div class="container w-100 d-flex p-3 m-2">
    <form [formGroup]="resetForm" (ngSubmit)="forget()">
      <h3>Don't Worry , We Got you.</h3><br>
      <h5>Please Set A New Password</h5>
      <input type="password" required placeholder="Set A New Password" class=" form-control mb-1" formControlName ="password">
      <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.status == 'INVALID'" class=" alert alert-danger w-100">
        <p *ngIf="resetForm.get('password')?.getError('required')">Password is Required</p>
      </div>
      <input type="password" required placeholder="Repassword" class=" form-control mb-1" formControlName ="repassword">
      <div *ngIf="resetForm.get('repassword')?.touched && resetForm.get('repassword')?.status == 'INVALID'" class=" alert alert-danger w-100">
        <p *ngIf="resetForm.get('repassword')?.getError('required')">Password is Required</p>
      </div>
        <button class=" btn ">Submit</button>
    </form>
  </div>
  </div> -->


<div class="container ">
  <div class="item">
  <div class="contact">
    <img src="../../../assets/Images/6310507.jpg" alt="" class="image">
  </div>
  <div class="submit-form">
      <form [formGroup]="resetForm" (ngSubmit)="forget()">
        <div class="form-group">
          <h1>Forgot Your Password ?</h1><br>
      <h5>Don't Worry , We Got you.</h5><br>
        <input type="password" required placeholder="Set A New Password" class=" form-control mb-1" formControlName ="password">
          <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.status == 'INVALID'" class=" alert alert-danger w-100">
            <p *ngIf="resetForm.get('password')?.getError('required')">Password is Required</p>
          </div>
          <input type="password" required placeholder="Repassword" class=" form-control mb-1" formControlName ="repassword">
            <div *ngIf="resetForm.get('repassword')?.touched && resetForm.get('repassword')?.status == 'INVALID'" class=" alert alert-danger w-100">
              <p *ngIf="resetForm.get('repassword')?.getError('required')">Password is Required</p>
            </div>
        </div>
        <button class=" btn ">Submit</button>
      </form>
  </div>
  </div>
</div>

