<div class="container">
  <div class="row">
    <div>
      <img src="../../../assets/Images/download.jpeg">
      <h2>Ahmed Mohammed</h2>
    </div>
    <div>
      <p>In this example, the card is created using a div element with a class of "card". The card's background color, border radius, padding, and box shadow are styled using CSS. The message and signature are added using p elements with a class of "message"</p>
    </div>
    <a href="" class=" btn btn-success w-25 rounded-5 ">Connect</a>
  </div>
</div>
