<!-- <div class="container w-75">
  <h2 class="text-center">Update Account</h2>
  <form>
    <label>E-mail</label>
    <input type="email" placeholder="Enter A New Email">
    <label>Password</label>
    <input type="Password" placeholder="Enter A New Password"><br>
    <label>Update Profile picture</label><br>
    <input type="file" placeholder="file">
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </form>
</div> -->
<div class="container">
  <form class="d-flex ">
    <div class="cotainer1">
      <h2 class=" ">Update My Profile</h2>
      <img class=" " src="../../../assets/Images/update.jpeg" alt="">
      <input type="text"  placeholder="UserName" class=" m-2">
      <input type="password" placeholder="Password" class=" m-2">
      <button>Save</button>
    </div>
  </form>
</div>
