<div class="container">
  <div class="header">
    <h1>Our Team</h1>
  </div>
  <div class="sub-conitainer">
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="../../../assets/Images/back (1).jpeg" alt="team_member_image">
        </div>
        <h3>BackEnd Dev</h3>
          <p>
            I build and maintain the mechanisms that
            process data and perform actions on websites.
            And other server-side functions that you cannot see.
          </p>
          <div class="social-links ">
            <a href="#"><i class=" fab fa-instagram mx-2"></i></a>
            <a href="#"><i class=" fab fa-facebook mx-2"></i></a>
            <a href="#"><i class=" fab fa-twitter mx-2"></i></a>
            <a href="#"><i class=" fab fa-youtube mx-2"></i></a>
            <a href="#"><i class=" fab fa-linkedin mx-2"></i></a>
          </div>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="../../../assets/Images/UI.jpeg" alt="team_member_image">
        </div>
        <h3>UI/UX</h3>
          <p>
            understanding user behaviors, creating wireframes and prototypes,
            and implementing visually appealing design elements .
          </p>
          <div class="social-links ">
            <a href="#"><i class=" fab fa-instagram mx-2"></i></a>
            <a href="#"><i class=" fab fa-facebook mx-2"></i></a>
            <a href="#"><i class=" fab fa-twitter mx-2"></i></a>
            <a href="#"><i class=" fab fa-youtube mx-2"></i></a>
            <a href="#"><i class=" fab fa-linkedin mx-2"></i></a>
          </div>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="../../../assets/Images/front.jpeg" alt="team_member_image">
        </div>
        <h3>FrontEnd</h3>
          <p>I take part in creating and integrating user interfaces, upgrading applications,
              and working within the company's network..
          </p>
          <div class="social-links ">
            <a href="#"><i class=" fab fa-instagram mx-2"></i></a>
            <a href="#"><i class=" fab fa-facebook mx-2"></i></a>
            <a href="#"><i class=" fab fa-twitter mx-2"></i></a>
            <a href="#"><i class=" fab fa-youtube mx-2"></i></a>
            <a href="#"><i class=" fab fa-linkedin mx-2"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>
